<section class="static-page-container container my-5">
	<div class="container">
		<div class="row">
			<div class="col-12 col-sm-12 col-md-6">
				<div class="me-4">
					<img src="<%= asset_path 'building.png' %>" class="w-100" alt="building">
				</div>
			</div>
			<div class="col-12 col-sm-12 col-md-6">
				<h1 class="color-3">About</h1>
				<p>House of Coins was born with the idea of revolutionizing the real estate market.  After noticing the difficulties that people wishing to invest in real estate could encounter, we chose to bring the solution.</p>
				<p>With House of Coins you don't need to invest a lot of money, we don't have a minimum amount to invest!</p>
				<p>This system allows small pockets to invest without taking huge risks and thus to be able to get rich.</p>
				<p>Thanks to our team of enthusiasts who will guide you in your investments, do not delay in using our services.</p>
				<p>House Of Coins</p>
				<p>The best you can get!</p>
				<h3 class="color-3 social-link-text">
					<%= link_to "Contact us", contact_path, class: "btn btn-primary" %>
				</h3>
				<ul class="mt-5 d-flex align-items-center">
					<li class="me-2">
						<%= link_to "https://www.youtube.com/channel/UC83NbWt-xQsZIVrWWGxNsVQ", class: "btn-circle" do %>
							<i class="fab fa-youtube"></i>
						<% end %>
					</li>
					<li class="me-2">
						<%= link_to "https://www.instagram.com/kittensthp/", class: "btn-circle" do %>
							<i class="fab fa-instagram"></i>
						<% end %>
					</li>
					<li>
						<%= link_to "https://fr.linkedin.com/company/copycat", class: "btn-circle" do %>
							<i class="fab fa-linkedin-in"></i>
						<% end %>
					</li>
				</ul>
			</div>
		</div>
	</div>
</section>











