<section class="static-page-container container my-5">
    <ul class="estate-list row row-cols-1 row-cols-sm-1 row-cols-md-1 row-cols-lg-3 align-items-stretch align-content-stretch justify-content-center my-3" id="contact-list">
        <li class="mb-5">
            <div class="card h-100">
                <div class="card-image d-flex justify-content-center align-items-center bg-white">
                    <img src=<%= asset_path 'erwan_le_corre.jpg' %> alt="Erwan Le Corre" class="avatar">
                </div>
                <div class="card-body text-center">
                    <h5 class="card-title text-truncate">Erwan Le Corre</h5>
                    <p class="card-text mb-0">Always keep your hovercraft full of eels</p>
                    <%= link_to "https://github.com/Septentrion50", class: "btn-circle mt-3" do %>
                        <i class="fab fa-github"></i>
                    <% end %>
                </div>
            </div>
        </li>
        <li class="mb-5">
            <div class="card h-100">
                <div class="card-image d-flex justify-content-center align-items-center bg-white">
                    <img src=<%= asset_path 'cedric_mesas.jpg' %> alt="Cédric Mesas" class="avatar">
                </div>
                <div class="card-body text-center">
                    <h5 class="card-title text-truncate">Cédric Mesas</h5>
                    <p class="card-text mb-0">I like fish, chips and dips</p>
                    <%= link_to "https://github.com/cedricmesas", class: "btn-circle mt-3" do %>
                        <i class="fab fa-github"></i>
                    <% end %>
                </div>
            </div>
        </li>
        <li class="mb-5" id="team-item">
            <div class="p-2">
                <h1>Our Team</h1>
                <p class="sub-title">Here is the team that developed the 'House Of Coins' project.</p>
            </div>
        </li>
        <li class="mb-5">
            <div class="card h-100">
                <div class="card-image d-flex justify-content-center align-items-center bg-white">
                    <img src=<%= asset_path 'phb.png' %> alt="Pierre-Henri Bord" class="avatar">
                </div>
                <div class="card-body text-center">
                    <h5 class="card-title text-truncate">Pierre-Henri Bord</h5>
                    <p class="card-text mb-0">Experiment</p>
                    <%= link_to "https://github.com/phbord", class: "btn-circle mt-3" do %>
                        <i class="fab fa-github"></i>
                    <% end %>
                </div>
            </div>
        </li>
        <li class="mb-5">
            <div class="card h-100">
                <div class="card-image d-flex justify-content-center align-items-center bg-white">
                    <img src=<%= asset_path 'big_building.jpeg' %> alt="Hugo Le Maitre" class="avatar">
                </div>
                <div class="card-body text-center">
                    <h5 class="card-title text-truncate">Hugo Le Maitre</h5>
                    <p class="card-text mb-0">Love math</p>
                    <%= link_to "https://github.com/hugomtr", class: "btn-circle mt-3" do %>
                        <i class="fab fa-github"></i>
                    <% end %>
                </div>
            </div>
        </li>
        <li class="mb-5">
            <div class="card h-100">
                <div class="card-image d-flex justify-content-center align-items-center bg-white">
                    <img src=<%= asset_path 'sebastien_simon.jpg' %> alt="Sébastien Simon" class="avatar">
                </div>
                <div class="card-body text-center">
                    <h5 class="card-title text-truncate">Sébastien Simon</h5>
                    <p class="card-text mb-0">Putting that aside</p>
                    <%= link_to "https://github.com/Noheat9", class: "btn-circle mt-3" do %>
                        <i class="fab fa-github"></i>
                    <% end %>
                    <%= link_to "https://www.linkedin.com/in/s%C3%A9bastien-simon-8a70021a9/", class: "btn-circle mt-3" do %>
                        <i class="fab fa-linkedin"></i>
                    <% end %>
                    
                </div>
            </div>
        </li>
    </ul>
</section>