<div class="mb-2 aside-offer">
    <h5 class="aside-title">Property type</h5>
    <ul>
        <li>
            <p><strong>City :</strong>    <%= @real_estate.city %></p>
        </li>
        <li>
            <p><strong>Zipcode :</strong> <%= @real_estate.zipcode %></p>
        </li>
        <li>
            <p><strong>Address :</strong>  <%= @real_estate.adress %></p>
        </li>
        <li>
            <p><strong>Price :</strong>   <%= @real_estate.price %> €</p>
        </li>
    </ul>
</div>
<div class="button-housecoin mt-4">
    <%= link_to "Chatroom" ,real_estate_chatroom_index_path(params[:id]), class: "btn btn-primary" %>
</div>