<!-- TABLE -->
<table class="table mt-5">
    <tbody>
        <tr>
            <th scope="col" width="120">Quantity</th>
            <td>
                <%= q = HouseCoin.where(order_id: current_order, real_estate_id: @hc.real_estate_id).length %>
            </td>
        </tr>
        <tr>
            <th scope="col">Price</th>
            <td>
                <%= (q * @hc.coin_price).to_i %> €
            </td>
        </tr>
        <tr>
            <th scope="col">For property</th>
            <td>
                <%= RealEstate.find(@hc.real_estate_id).name %>
            </td>
        </tr>
    </tbody>
</table>

<!-- BUTTONS group -->
<div class="d-flex">
    <%= button_to 'Remove one', 
                  house_coin_path(@hc.id), 
                  method: :delete, 
                  class: "btn btn-outline-danger btn-sm mr-2",
                  remote: true %>
    <%= button_to 'Add one more', 
                  house_coins_path, 
                  method: :post, 
                  params: { real_estate_id: @hc.real_estate_id, coin_price: @hc.coin_price, user_id: @hc.user_id, order_id: current_order }, 
                  class: "btn btn-outline-primary btn-sm",
                  remote: true %>
</div>