<% 
    @dataImage = {
        url: "modern_house.jpg",
        title: "Cart",
        text: ""
    }
%>
<%= render :partial => "shared/full_image", :object => @dataImage %>

<div class="container my-5">
  <%= form_tag charges_path, class: "d-flex flex-column align-items-center" do %>
    <% if flash[:error].present? %>
      <div id="error_explanation">
        <p><%= flash[:error] %></p>
      </div>
    <% end %>
    <div class="mb-3 sub-title">
      <%= label_tag "Amount:" %>
      <span class="ms-2">
        <%=@stripe_amount / 100%> €
      </span>
    </div>
    <div>
      <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
              data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
              data-description="Pay my order"
              data-amount="<%=@stripe_amount%>"
              data-locale="auto"
              data-currency="eur"></script>
    </div>
  <% end %>
</div>

