<header class="header fixed-top" >
    <nav class="navbar navbar-expand-lg navbar-light" id="navbar">
        <div class="container">
            <!-- L O G O -->
            <%= link_to root_path, data: { bs_toggle: "tooltip", bs_placement: "bottom" }, title: "House of coins", class: "navbar-brand" do %>
                <%= inline_svg_tag "logo.svg", class: 'header-logo' %>
            <% end %>

            <!-- B U R G E R  button -->
            <button class="navbar-toggler" 
                    type="button" 
                    data-bs-toggle="collapse" 
                    data-bs-target="#navbarSupportedContent" 
                    aria-controls="navbarSupportedContent" 
                    aria-expanded="false" 
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- B U T T O N S  group -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <!-- LEFT -->
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <%= link_to "Products", real_estates_path, class: "nav-link" %>
                        </li>
                        <li class="nav-item">
                            <%= link_to "Team", team_path, class: "nav-link" %>
                        </li>
                        <li class="nav-item">
                            <%= link_to "About", about_path, class: "nav-link" %>
                        </li>
                        <li class="nav-item">
                            <%= link_to "Terms", terms_path, class: "nav-link" %>
                        </li>
                        <li class="nav-item">
                            <%= link_to "Privacy policy", privacy_policy_path, class: "nav-link" %>
                        </li>
                        <li class="nav-item">
                            <%= link_to "Contact", contact_path, class: "nav-link" %>
                        </li>
                    </ul>
                </ul>

                <!-- RIGHT -->
                <ul class="d-flex">
                    <!-- CREATE -->
                    <li class="me-2">
                        <%= link_to "New offer", new_real_estate_path, class: "btn btn-outline-primary" %>
                    </li>
                    <!-- CART -->
                    <li class="me-2">
                        <%= link_to carts_path, data: { bs_toggle: "modal", bs_placement: "bottom", bs_target: "#cartModal" }, title: "My Cart", remote: true, class: "btn btn-primary" do %>
                            <i class="fas fa-shopping-cart"></i>
                            <span class="badge bg-light text-primary ms-1 rounded-pill" id="cart-badge"><%=current_order.house_coins.length%></span>
                        <% end %>
                    </li>
                    <!-- CONNECTION -->
                    <li>
                        <div class="dropdown">
                            <button class="btn btn-primary dropdown-toggle" 
                                    type="button" 
                                    id="dropdownMenuHeader" 
                                    data-bs-toggle="dropdown" 
                                    bs_toggle="tooltip" 
                                    bs_placement="bottom" 
                                    title="Connection" 
                                    aria-expanded="false">
                                <i class="fas fa-user"></i>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuHeader">
                                <% unless user_signed_in? %>
                                    <li>
                                        <%= link_to "Sign In", new_user_session_path, class: "dropdown-item" %>
                                    </li>
                                    <li>
                                        <%= link_to "Sign Up", new_user_registration_path, class: "dropdown-item" %>
                                    </li>
                                <% else %>
                                    <% if current_user.is_admin? %>
                                        <li>
                                            <%= link_to "Dashboard", admin_real_estates_path, class: "dropdown-item" %>
                                        </li>
                                    <% end %>
                                    <li>
                                        <%= link_to "My profile", user_path(current_user.id), class: "dropdown-item" %>
                                    </li>
                                    <li>
                                        <%= link_to "Disconnect", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
                                    </li>
                                <% end %>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<div id="cart-modal">
    <%= render 'carts/cart_modal_xl' %>
</div>